header{
  padding: 20px;
  text-align: center;
}

.logo{
  width: 150px;
  height:150px;
}

.logo_footer{
  width: 70px;
  height: 70px;
}

main{
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.bemvindo_area{
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    background-color: rgba(190, 190, 190, 0.418)
}

.footer {
    position:absolute;
    bottom:100;
    width:100%;
    height:10%;
    background-color: gray;
    text-align: center;
}


/*footer{
    background-color: gray;
    height: 40px;
}*/

.nav-link{
  color: darkgray;
}

.logo{
  padding-top: 20px;
}


